<template>
  <div class='v-cart container'>
    <router-link :to="{name: 'catalog'}" class="back">
        <i class="material-icons">arrow_back</i>
        Back to catalog
    </router-link>
    <h1>Cart</h1>
    <p v-if="!cart_data.length">There are no products in cart...</p>
    <div class="v-cart__main" v-else>
      <div class="v-cart__main__left">
        <v-cart-item
            v-for="(item, index) in cart_data"
            :key="item.title"
            :cart_item_data="item"
            @deleteFromCart="deleteFromCart(index)"
            @increment="increment(index)"
            @decrement="decrement(index)"
        />
      </div>
      <div class="v-cart__main__right">
          <div class="items">
            <p>Delivery:</p>
            <p class="price">0$</p>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="promo" type="text" class="validate" placeholder="Promocode">
            </div>
          </div>
          <div class="items">
            <p>Totalcost</p>
            <p class="price">{{cartTotalCost | toFix | formattedPrice}}$</p>
          </div>
          <button class="btn">Checkout</button>
      </div>
    </div>
   
    
  </div>
</template>

<script>
  import vCartItem from './v-cart-item'
  import {mapActions} from 'vuex'

  export default {
    name: "v-cart",
    components: {
      vCartItem
    },
    props: {
      cart_data: {
        type: Array,
        default() {
          return []
        }
      }
    },
    data() {
      return {
      }
    },
    filters: {
      formattedPrice(value) {
        let parts = value.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        return parts.join(".");
      },
      toFix(value) {
        value = parseFloat(value);
        return value.toFixed(2) 
      }
    },
    
    computed: {
      cartTotalCost() {
        let result = []

        if (this.cart_data.length) {
          for (let item of this.cart_data) {
            result.push(item.price * item.quantity)
          }

          result = result.reduce(function (sum, el) {
            return sum + el;
          })
          return result;
        } else {
          return 0
        }
      }
    },
    methods: {
      ...mapActions([
        'DELETE_FROM_CART',
        'INCREMENT_CART_ITEM',
        'DECREMENT_CART_ITEM'
      ]),
      increment(index) {
        this.INCREMENT_CART_ITEM(index)
      },
      decrement(index) {
        this.DECREMENT_CART_ITEM(index)
      },
      deleteFromCart(index) {
        this.DELETE_FROM_CART(index)
      }
    }
  }
</script>

<style lang="scss">
 
</style>
