<template>
  <div class='v-cart-item'>
    <img class="v-cart-item__image" :src="cart_item_data.image" alt="">
    <div class="v-cart-item__info">
      <p class="v-cart-item__title">{{cart_item_data.title}}</p>
      <p class="v-cart-item__price">{{cart_item_data.price}}$</p>
      <!-- <p class="v-cart-item__description">{{cart_item_data.description}}</p> -->
    </div>
    <div class="v-cart-item__quantity">
      <!-- <p>Qty:</p> -->
      <span class="quantity__tools">
        <span class="quantity__btn btn" @click="decrementItem">-</span>
        <span class="count_product">{{cart_item_data.quantity}}</span>
        <span class="quantity__btn btn" @click="incrementItem">+</span>
      </span>
    </div>
    <button class="btn waves-effect waves-light red delete-from-cart" @click="deleteFromCart "><i class="large material-icons">delete</i></button>
  </div>
</template>

<script>


  export default {
    name: "v-cart-item",
    props: {
      cart_item_data: {
        type: Object,
        default() {
          return {}
        }
      }
    },
    data() {
      return {}
    },
    methods: {
      decrementItem() {
        this.$emit('decrement')
      },
      incrementItem() {
        this.$emit('increment')
      },
      deleteFromCart() {
        this.$emit('deleteFromCart')
      }
    }
  }
</script>

<style lang="scss">
 
</style>
