<template>
  <div class='v-catalog container'>
    <h1>Catalog</h1>
    <div class="filters">
      <v-select
          :selected="selected"
          :options="categories"
          @select="sortByCategories"
      />
      <div class="range-slider">
        <input
            type="range"
            min="0"
            max="1100"
            step="5"
            v-model.number="minPrice"
            @change="setRangeSlider"
        >
        <input
            type="range"
            min="10"
            max="1100"
            step="5"
            v-model.number="maxPrice"
            @change="setRangeSlider"
        >
        <div class="range-values">
          <p>Min: {{minPrice}}$</p>
          <p>Max: {{maxPrice}}$</p>
        </div>
      </div>
     
    </div>
    <div class="v-catalog__list row">
        <v-catalog-item
            v-for="product in filteredProducts"
            :key="product.title"
            :product_data="product"
            @addToCart="addToCart"
            @productClick="productClick"
            class="col l4 s6 xl3"
            
        />
    </div> 
  </div>
</template>

<script>
  import vCatalogItem from './v-catalog-item'
  import {mapActions, mapGetters} from 'vuex'
  import vSelect from '../v-select'

  export default {
    name: "v-catalog",
    components: {
      vCatalogItem,
      vSelect,
    },
    data() {
      return {
        categories: [
          {name: 'All', value: 'ALL'},
          {name: "men's clothing", value: 'Men'},
          {name: "women's clothing", value: 'Women'},
          {name: 'electronics', value: 'Electronics'},
          {name: 'jewelery', value: 'Jewelery'},
        ],
        selected: 'All',
        sortedProducts: [],
        minPrice: 0,
        maxPrice: 1100,
      }
    },
    computed: {
      ...mapGetters([
        'PRODUCTS',
        'CART',
        'SEARCH_VALUE'
      ]),
      filteredProducts() {
        if (this.sortedProducts.length) {
          return this.sortedProducts
        } else {
          return this.PRODUCTS
        }
      },
    },
    methods: {
      ...mapActions([
        'GET_PRODUCTS_FROM_API',
        'ADD_TO_CART'
      ]),
      productClick(title) {
        this.$router.push( {name: 'product', query: { 'product': title }})
      },
      setRangeSlider() {
        if (this.minPrice > this.maxPrice) {
          let tmp = this.maxPrice;
          this.maxPrice = this.minPrice;
          this.minPrice = tmp;
        }
        this.sortByCategories()
      },
      sortByCategories(category) {
        let vm = this;
        this.sortedProducts = [...this.PRODUCTS]
        this.sortedProducts = this.sortedProducts.filter(function (item) {
          return item.price >= vm.minPrice && item.price <= vm.maxPrice
        })
        if (category) {
          this.sortedProducts = this.sortedProducts.filter(function (e) {
            vm.selected = category.name;
            console.log(vm.selected)
            return e.category === category.name
          })
        }
      },
      addToCart(data) {
        this.ADD_TO_CART(data)
      },
      sortProductsBySearchValue(value) {
        this.sortedProducts = [...this.PRODUCTS]
        if (value) {
          this.sortedProducts = this.sortedProducts.filter(function (item) {
            return item.title.toLowerCase().includes(value.toLowerCase())
          })
        } else {
          this.sortedProducts = this.PRODUCTS;
        }
      }
    },
    watch: {
      SEARCH_VALUE() {
        this.sortProductsBySearchValue(this.SEARCH_VALUE);
      }
    },
    mounted() {
      this.GET_PRODUCTS_FROM_API()
        .then((response) => {
          if (response.data) {
            this.sortByCategories()
            this.sortProductsBySearchValue(this.SEARCH_VALUE)
          }
        })
    }
  }
</script>

<style lang="scss">

</style>
