<template>
  <div class='v-catalog-item'>

    <v-popup
        v-if="isInfoPopupVisible"
        rightBtnTitle="Add to cart"
        :popupCategory="product_data.category"
        @closePopup="closeInfoPopup"
        @rightBtnAction="addToCart"
    >
      <img class="v-popup__image" :src="product_data.image" alt="img">
      <div>
        <h3>{{product_data.title}}</h3>
        <span>Price: {{product_data.price}}$</span>
        <p>{{product_data.description}}</p>
      </div>
    </v-popup>
    
    <div class="v-catalog-item__body">
      <img class="v-catalog-item__image" :src="product_data.image " alt="img" @click="productClick">
      <p class="v-catalog-item__name">{{product_data.title}}</p>
      <p class="v-catalog-item__price">Price: <span>{{product_data.price}}$</span></p>
      <div class="v-catalog-item__bottom">
        <button
          class="v-catalog-item__show-info btn "
          @click="showPopupInfo"
        >
          Show info
        </button>
        <button
            class="v-catalog-item__add_to_cart_btn btn"
            @click="addToCart"
        ><i class="large material-icons">add_shopping_cart</i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import vPopup from '../popup/v-popup'

  export default {
    name: "v-catalog-item",
    components: {
      vPopup
    },
    props: {
      product_data: {
        type: Object,
        default() {
          return {}
        }
      }
    },
    data() {
      return {
        isInfoPopupVisible: false
      }
    },
    computed: {},
    methods: {
      productClick() {
        this.$emit('productClick', this.product_data.title)
      },
      showPopupInfo() {
        this.isInfoPopupVisible = true;
      },
      closeInfoPopup() {
        this.isInfoPopupVisible = false;
      },
      addToCart() {
        this.$emit('addToCart', this.product_data);
      }
    },
    mounted() {
      this.$set(this.product_data, 'quantity', 1)
    }
  }
</script>

<style lang="scss">
  
</style>
