<template>
  <div class="container">
    <router-link :to="{name: 'catalog'}" class="back">
        <i class="material-icons">arrow_back</i>
        Back to catalog
    </router-link>
    <div class='v-product-page'>
    <div class='v-product-page__left'>
      <img v-if="product.image" class="v-product-page__image" :src="product.image"
          alt="img">
    </div>
    <div class='v-product-page__right'>
      <div class="v-product-page__category">Category: {{product.category}}</div>
      <h2>{{product.title}}</h2>
      <h5>{{product.description}}</h5>
      <p>Price: {{product.price}}$</p>
      <button
          class="v-catalog-item__add_to_cart_btn btn"
          @click="addToCart"
      >Add to cart
      </button>
    </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'

  export default {
    name: "v-product-page",
    props: {},
    data() {
      return {}
    },
    computed: {
      ...mapGetters([
        'PRODUCTS'
      ]),
      product() {
        let result = {}
        let vm = this;
        this.PRODUCTS.find(function (item) {
          if (item.title === vm.$route.query.product) {
            result = item;
          }
        })
        return result;
      }
    },
    methods: {
      ...mapActions([
        'GET_PRODUCTS_FROM_API',
        'ADD_TO_CART'
      ]),
      addToCart() {
        this.ADD_TO_CART(this.product)
      },
    },
    mounted() {
      if (!this.PRODUCTS.length) {
        this.GET_PRODUCTS_FROM_API()
      }
    }
  }
</script>

<style scoped>

</style>
