<template>
  <div class='login'>
    <div class="container">
      <h1 >Authorization</h1>
        <div class="row">
          <form action="#" class="col l6 s12 offset-l3">
            <div class="input-field col-12">
              <i class="material-icons prefix">account_circle</i>
              <input v-model="username" id="login" type="text" class="validate">
            </div>
            <div class="input-field col-12">
              <i class="material-icons prefix">enhanced_encryption</i>
              <input v-model="password" id="password" type="password" class="validate">
            </div>
            <div class="btn__center">
              <button class="btn" @click.prevent="LoginCheck">Login</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</template>

<script>
 import {mapActions} from 'vuex'

export default {
  name: "login",
  props: {},
  data() {
    return {
      username: "mor_2314",
      password: "83r5^_",
    }
  },
  methods:{
    ...mapActions([
      'GET_TOKEN'
    ]),

    LoginCheck(){
      
      let result = this.GET_TOKEN({username: this.username, password: this.password})
      result
      .then(()=> {
        this.$router.push('/catalog');
      })
      .catch((response) => {
        console.log(response.data.msg)
      })
    }
  }
}
</script>

<style scoped>
  h1{
    text-align: center;
  }
</style>