<template>
  <header class='v-header' v-if="1">
    <div class="container">
      <div class="v-header__main">
        <img src="../../assets/logo2.svg" alt="" class="logo"> 
        <div class="search-field">
          <input
              type="text"
              v-model="searchValue"
              placeholder="Search product ..."
          >
          <button class="search_btn btn go_search">
            <i class="material-icons" @click="search(searchValue)">search</i>
          </button>
          <button class="search_btn btn close_search">
            <i class="material-icons" @click="clearSearchField">cancel</i>
          </button>
        </div>
        <button class="logout" @click="onLogout">
          <i class="material-icons">exit_to_app</i>
          Logout
        </button>
        <router-link :to="{name: 'cart', params: {cart_data: CART}}">
          <div class="v-header__link_to_cart">
            <i class="material-icons">shopping_cart</i> 
            <span>{{CART.length}}</span>
          </div>
        </router-link>
      </div>
    </div>
  </header>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'

  export default {
    name: "v-header",
    props: {},
    data() {
      return {
        searchValue: '',
      }
    },
    computed: {
      ...mapGetters([
        'SEARCH_VALUE',
        'CART',
      ])
     
    },
    methods: {
      ...mapActions([
        'GET_SEARCH_VALUE_TO_VUEX',
        'LOGOUT',
      ]),
      search(value) {
        this.GET_SEARCH_VALUE_TO_VUEX(value);
        if (this.$route.path !== '/catalog') {
          this.$router.push('/catalog')
        }
      },
      clearSearchField() {
        this.searchValue = ''
        this.GET_SEARCH_VALUE_TO_VUEX();
        if (this.$route.path !== '/catalog') {
          this.$router.push('/catalog')
        }
      },
      onLogout(){
        this.LOGOUT()
        this.$router.push('/')
      }
    }
  }
</script>


<style lang="scss">
  
</style>
