<template>
    <div class="v-main-wrapper">
        <v-header v-if="layout" />
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div> 
</template>
<script>
import vHeader from './layouts/v-header'

export default {
    name: 'v-main-wrapper',
    data() {
        return {
            hasToken: true
        }
    },
    computed: {
        layout() {
            return this.$route.meta.layout
        }
    },
    components: {
      vHeader
    },
    mounted() {
        // if (localStorage.getItem("token") === null) {
        //     this.hasToken = false
        // } else{
        //     this.hasToken = true
        //     console.log(11)
        // }
    }

}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.v-main-wrapper {
    margin: 0 auto;
}
</style>