<template>
  <div id="app">
    <v-main-wrapper />
  </div>
</template>
<script>

import vMainWrapper from './components/v-main-wrapper'

export default {
 data(){
   return {
    
   }
 },
  components: {
    vMainWrapper
  },
 watch: {
   
 },
 methods: {
  
 },
 computed: {
 },
 created: function() {
 }

}
</script>

<style >
</style>
