@mixin mobile {
  @media (max-width: 767px) {
      @content;
  }
}

@mixin mini {
  @media (max-width: 350px) {
      @content;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f2f3f7;
  padding-bottom: 50px;
}

.container {
  @include mobile{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  @include mini{
    padding-left: 10px;
    padding-right: 10px;
  }

  .row {
      margin: 0 -.5rem;

      @include mini{
        margin: 0 -.2rem;
      }

      .col {
          padding: 0 .5rem;
          @include mini{
            padding: 0 .2rem;
          }
      }
      

      .col.l4 {
          margin-left: 0;
      }
  }

  h1 {
      font-weight: 500;
      font-size: 26px;
      line-height: 30px;
      color: #424242;
      margin-bottom: 20px;
  }

  .btn {
      height: 26px;
      line-height: 26px;
      padding: 0 10px;
      font-size: 12px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      @include mobile{
        padding: 0 7px;
      }
  }
}

.v-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  padding: 10px 0;

  &__main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      @include mobile{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
      }

      .logo {
          max-width: 120px;
          margin-right: 15px;
      
      }
  }

  .search-field {
      width: 100%;
      margin-left: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border: 1px solid #26a69a;
      // -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      height: 42px;
      overflow: hidden;

      @include mobile{
        margin-left: 0;
        margin-top: 10px;
        -webkit-box-ordinal-group: 8;
            -ms-flex-order: 7;
                order: 7;
      }

      input {
          width: 100%;
          border: 0 !important;
          background-color: transparent;
          box-shadow: none !important;
          margin: 0 !important;
          height: 30px;
          padding-left: 15px;
          padding-right: 15px;
      }

      button {
          height: 100%;
          width: 40px;
          box-shadow: none;
          border-radius: 4px;

          &.close_search {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-left: 1px solid #fff;
              border-radius: 0;

          }

          &.go_search {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
          }
      }
  }

  .logout {
      margin-left: 40px;
      background: none;
      border: 0;
      font-weight: 600;
      margin-right: 40px;
      font-size: 16px;
      line-height: 16px;
      @include mobile{
        margin-left: auto;
        margin-right: 20px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        line-height: 26px;
      }

      i {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
          font-size: 18px;
          @include mobile{
            font-size: 24px;
            margin-right: 3px;
            line-height: 26px;
            position: relative;
            top: 1px;
          }
      }
  }

  button {
      cursor: pointer;
  }

  &__link_to_cart {
      position: relative;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      margin-top: 5px;
      @include mini{
        padding-right: 7px;
      }
      i {
          color: #47a198;
          font-size: 24px;
      }

      span {
          position: absolute;
          top: -12px;
          right: -10px;
          display: block;
          width: 20px;
          height: 20px;
          text-align: center;
          border-radius: 50%;
          background: #fff;
          color: #333;
          line-height: 20px;
          font-size: 13px;
          font-weight: 700;
          box-shadow: 0px 0px 2px #26a69a;
          @include mobile{
            top: -9px; 
          }
          @include mini{
            right: -7px; 
          }
         
          
      }
  }
}

.btn__center {
  text-align: center;
}

.v-catalog {
  &__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: static;
      // z-index: 2;
  }



}

.v-product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;

  @include mobile{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  &__left {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%;
      width: 50%;

      @include mobile{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
      }

      img {
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
             object-fit: contain;
          -o-object-position: center;
             object-position: center;
          @include mobile{
            max-height: 200px;
          }

      }
  }

  &__category {
      font-size: 16px;
      line-height: 19px;
      color: #333333;
      font-weight: 500;
  }

  h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #333333;
  }

  h5 {
      font-size: 14px;
      line-height: 24px;
      color: #666666;
      word-break: break-word;
  }

  &__right {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%;
      width: 50%;
      padding-left: 20px;
      @include mobile{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
      }
  }

  &-item {
      &__image {
          width: 250px;
      }
  }
}

.back {
  font-size: 13px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
  margin-top: 20px;

  i {
      font-size: 13px;
      line-height: 15px;
  }
}

.v-select {
  position: relative;
  width: 200px;
  cursor: pointer;
  text-align: left;
  z-index: 5;
  @include mobile{
    margin-right: 20px;
  }
}

.title {
  border: solid 1px #aeaeae;
  padding: 8px;
  background-color: #fff;
}

.v-select {
  p {
      margin: 0;
      height: 39px;
      position: relative;

      &.title:after {
          content: '';
          position: absolute;
          top: 12px;
          right: 12px;
          width: 8px;
          height: 8px;
          border-right: 2px solid #333;
          border-bottom: 2px solid #333;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
      }

  }
}

.options {
  border: solid 1px #aeaeae;
  background: #ffffff;
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  padding: 0px;

  p {
      padding: 8px;
      -webkit-transition: .2s;
      transition: .2s;

      &:hover {
          background: #26a69a;
          color: #fff;
      }
  }
}


.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  margin-bottom: 1rem;

}

.range-slider {
  width: 200px;
  margin: 0px;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  svg,
  input[type=range] {
      position: absolute;
      left: 0;
      top: 0;
  }

  .range-values {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;
      position: relative;
      top: 14px;

      p {
          font-size: 12px;
          font-weight: 700;
      }
  }

  input[type=range]::-webkit-slider-thumb {
      z-index: 2;
      position: relative;
      top: -6px;
      margin-top: 0px;
  }
}

.popup_wrapper {
  background: rgba(64, 64, 64, .4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 12;
}

.v-popup {
  padding: 16px;
  position: fixed;
  top: 50px;
  width: 600px;
  max-width: 90%;
  background: #ffffff;
  box-shadow: 0 0 17px 0 #e7e7e7;
  z-index: 990;

  &__category__name {
      font-weight: 500;
      font-size: 26px;
      line-height: 30px;
      color: #424242;
      text-transform: capitalize;
      @include mobile{
        font-size: 18px;
      }

  }

  .close_popup {
      cursor: pointer;
  }

  &__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }

  &__footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end
  }

  &__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      @include mobile{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }

      img {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 50%;
                  flex: 0 0 50%;
          width: 50%;
          padding-right: 10px;
          height: auto;
          padding: 20px;
          padding-left: 0;

          @include mobile{
            max-height: 100px;
            width: auto;
            padding: 0;
            margin-top: 10px;
          }

      }

      h3 {
          font-weight: 500;
          font-size: 22px;
          line-height: 30px;
          color: #424242;
          margin-bottom: 10px;
          @include mobile{
            font-size: 18px;
          line-height: 24px;
          }

      }

      span {
          font-weight: 700;
          font-size: 13px;
          line-height: 30px;
          color: #424242;
          display: block;
      }

      p {
          font-weight: 500;
          font-size: 15px;
          line-height: 24px;
          color: #424242;
          display: block;
          @include mobile{
            line-height: 18px;
            font-size: 14px;
          }

      }
  }

  .close_modal {
      padding: 8px;
      color: #ffffff;
      background: red;
  }
}

.v-catalog-item {
  margin-bottom: 16px;
  margin-bottom: 1rem;

  @include mini{
    margin-bottom: 0.4em;
  }

  &__body {
      background: #FFFFFF;
      border: 1px solid #EBEBEB;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
      padding: 10px;
  }

  &__price {
      font-weight: 500;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #333333;

      @include mobile{
        font-size: 14px;
      }

      span {
          padding-left: 5px;
      }
  }

  &__image {
      width: 100px;
      height: 100px;
      -o-object-fit: contain;
         object-fit: contain;
      -o-object-position: center;
         object-position: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
  }

  &__name {
      font-size: 15px;
      line-height: 22px;
      height: 44px;
      letter-spacing: -0.2px;
      color: #545454;
      display: block;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @include mobile{
        height: 48px;
        line-height: 16px;
        font-size: 14px;
      }

  }

  &__bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      button.v-catalog-item__add_to_cart_btn.btn {
          background: none !important;
          box-shadow: none !important;
          border: 1px solid #26a69a;

          &:hover {
              background: #26a69a !important;

              i {
                  color: #fff;
              }
          }

          i {
              color: #26a69a;
              -webkit-transition: .2s ease-out;
              transition: .2s ease-out;
              ;
          }
      }
  }
}

.v-cart {
  margin-bottom: 100px;

  &__total {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 6px 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: green;
      color: #ffffff;
      font-size: 20px;
  }

  &__main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;

      @include mobile{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
      }

      &__left {
          width: 100%;
      }

      &__right {
          position: -webkit-sticky;
          position: sticky;
          top: 20px;
          padding: 16px;
          box-shadow: 0 0 8px 0 #e0e0e0;
          background-color: #fff;
          margin-left: 16px;
          margin-left: 1rem;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 250px;
                  flex: 0 0 250px;
          max-width: 250px;

          @include mobile{
            margin-left: auto;
            margin-right: auto;
          }

          input {
              text-align: center;
          }

          .btn {
              width: 100%;
          }

          .price {
              font-weight: 700;
          }
      }

      .items {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
      }

  }

  .total__name {
      margin-right: 16px;
  }
}

.v-cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  box-shadow: 0 0 8px 0 #e0e0e0;
  padding: 16px;
  margin-bottom: 24px;

  @include mobile{
    position: relative;
  }

  &__image {
      max-width: 70px;
      @include mobile{
        // position: absolute;
        // top: 16px;
        // left: 16px;
        // height: 60px;
        // width: auto;
      }

  }

  &__info {
      padding-left: 10px;
      padding-right: 20px;
      width: 50%;
      margin-left: 0;
      margin-right: auto;
      @include mobile{
        width: 100%;
        padding-right: 0;
      }

  }

  &__title {
      font-size: 16px;
      line-height: 22px;
      color: #666666;
      font-weight: 500;
      margin-bottom: 0px;
      margin-top: 0;
  }

  &__price {
      font-size: 13px;
      line-height: 18px;
      color: #666666;
      font-weight: 700;
      margin-bottom: 0px;
  }

  &__description {
      font-size: 13px;
      line-height: 18px;
      font-weight: 500;
      margin-bottom: 0px;
  }
  .delete-from-cart{
    @include mobile{
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }

  &__quantity {
      padding-right: 20px;
      @include mobile{
        position: absolute;
        bottom: 16px;
        right: 45px;
      }

      p {
          text-align: center;
      }

      .quantity__btn {
          cursor: pointer;
      }
  }

  .quantity__tools {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }

  .count_product {
      min-width: 35px;
      display: block;
      text-align: center;
  }
}